<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">Ederson</h1>
      <h1 class="mx-auto my-0 text-uppercase">&</h1>
      <h1 class="mx-auto my-0 text-uppercase">Taisa</h1>

      <h2 class="text-white-50 mx-auto mt-2 mb-5">27/07/2019 </h2>
      <h2 class="text-white-50 mx-auto mt-2 mb-5">Obrigado a todos que fizeram parte desse dia</h2>

      <a href="#about" class="btn btn-primary js-scroll-trigger">Get Started</a>
    </div>
  </div>
</header>
